[alias]
	a = add
	aa = add .
	b = branch -a --format='%(HEAD) %(color:green)%(refname:short)%(color:reset) %(color:yellow)(%(committerdate:relative))' --sort=committerdate
	c = checkout
	cb = checkout -b
	cd = checkout develop
	ci = !TZ=UTC git commit -S -m
	cl = clone
	cm = checkout main
	cma = checkout master
	d = !git diff $(git rev-parse HEAD) origin/HEAD --name-status
	f = !git fetch -p origin && git for-each-ref --format='%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D
	l = log --decorate --graph --oneline
	ld = log --date=format:'%Y-%m-%d' --pretty=format:'%h %ad %s'
	ls = shortlog --all --email --numbered --summary
	p = push
	pf = push -f
	pl = pull
	prm = pull --rebase origin main
	prma = pull --rebase origin master
	pu = push -u origin main
	r = reset
	r1 = reset HEAD~1
	r2 = reset HEAD~2
	rod = reset origin/develop
	rom = reset origin/main
	roma = reset origin/master
	rp = repack -adf --depth=250 --window=250
	s = switch --orphan
	t = tag
	w = config --get user.email
[checkout]
	defaultRemote = origin
[commit]
	gpgsign = true
[core]
	editor = code
	excludesFile = {{CONFIG_DIR}}/.gitignore
[gpg]
	format = openpgp
	program = gpg
[init]
	defaultBranch = main
[pull]
	rebase = true
[include]
	path = {{CONFIG_DIR}}/personal.gitconfig
[includeIf "gitdir:{{GIT_WORK_DIR}}/"]
	path = {{CONFIG_DIR}}/work.gitconfig
