[alias]
	a = add
	aa = add .
	b = branch --all --format='%(HEAD) %(color:green)%(refname:short)%(color:reset) %(color:yellow)(%(committerdate:relative))' --sort=committerdate
	c = checkout
	cb = checkout -b
	cd = checkout develop
	ci = !TZ=UTC git commit -S -m
	cl = clone
	cm = checkout main
	cma = checkout master
	d = !git diff --name-status $(git rev-parse HEAD) origin/HEAD
	f = fetch origin --prune
	l = log --graph --oneline --decorate
	ld = log --date=format:'%Y-%m-%d' --pretty=format:'%h %ad %s'
	p = push
	pf = push -f
	pl = pull
	pu = push -u origin main
	r = reset
	r1 = reset HEAD~1
	r2 = reset HEAD~2
	rd = reset origin/develop
	rm = reset origin/main
	rma = reset origin/master
	rp = repack -a -d -f --depth=250 --window=250
	s = switch --orphan
	sl = shortlog --summary --numbered --email
	t = tag
	w = config --get user.email
[checkout]
	defaultRemote = origin
[commit]
	gpgsign = true
[core]
	editor = code
	excludesFile = {{CONFIG_DIR}}/.gitignore
[gpg]
	format = openpgp
	program = gpg
[init]
	defaultBranch = main
[pull]
	rebase = true
[include]
	path = {{CONFIG_DIR}}/personal.gitconfig
[includeIf "gitdir:{{GIT_WORK_DIR}}/"]
	path = {{CONFIG_DIR}}/work.gitconfig
