GIT_PROFILES=(private work)

GIT_PRIVATE=(john john@myblog.test XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX)
GIT_PRIVATE_DIR=(/path/to/dir /path/to/other/dir)

GIT_WORK=('John Doe' john.doe@company.test /path/to/signingkey.pub)
GIT_WORK_DIR=(/path/to/dir)

GPG_DEFAULT_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
