[advice]
	mergeConflict = false
[alias]
	a = add
	aa = add .
	b = branch -a --format='%(HEAD) %(refname:short) %(color:black)(%(authordate:relative), %(authorname))'
	c = checkout
	cb = checkout -b
	cd = checkout develop
	cfg = !code {{HOME}}/.gitconfig
	cl = clone
	cls = clone --depth=1
	cm = !git checkout "$(git main)"
	co = !TZ=UTC git commit -S -m
	d = diff --name-status origin/HEAD
	db = branch -D
	f = !git fetch -p origin && git for-each-ref --format='%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D
	fa = fetch -p --all
	g = log --regexp-ignore-case -pS
	l = log --date=format:'%Y-%m-%d' --pretty=format:'%C(black)%ad %C(yellow)%h%Creset %s %C(black)(%aN)'
	main = branch -l main master --format='%(refname:short)'
	p = push
	pf = push -f
	pl = pull
	pr = pull -r origin
	prd = pull -r origin develop
	prm = !git pull -r origin "$(git main)"
	r = reset
	r1 = reset HEAD~1
	r2 = reset HEAD~2
	rd = reset origin/develop
	rg = remote get-url origin
	rh = reset --hard
	rma = !git reset "origin/$(git main)"
	rp = repack -adf --depth=250 --window=250
	rs = remote set-url origin
	s = show
	sc = switch -c
	sl = shortlog -ens
	ss = show --compact-summary --stat=80
	st = status
	sw = switch --orphan
	t = tag -l --format='%(refname:short) %(color:black)(%(creatordate:format:%Y-%m-%d))' --sort=-v:refname
	tp = !git tag "$1" && git push origin tag "$1"
	w = config --get user.email
[checkout]
	defaultRemote = origin
[commit]
	gpgsign = true
[core]
	editor = code
	excludesFile = {{HOME}}/.gitignore
	pager = cat
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[gpg]
	format = openpgp
	program = gpg
[init]
	defaultBranch = main
[pager]
	log = less
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[includeIf "gitdir:{{GIT_PERSONAL_DIR}}/"]
	path = {{HOME}}/.gitconfig.personal
[includeIf "gitdir:{{GIT_PERSONAL_DRIVE}}/"]
	path = {{HOME}}/.gitconfig.personal
[includeIf "gitdir:{{GIT_WORK_DIR}}/"]
	path = {{HOME}}/.gitconfig.work
[includeIf "gitdir:{{GIT_WORK_DRIVE}}/"]
	path = {{HOME}}/.gitconfig.work
